body{
	background: #f1e7e7;
}

.audio-player-cont{
	width: 310px;
	height: 400px;
	background: #f3ebdc;
	box-shadow: 0 0 6px 2px #c7a8a8;
	color: #003ba9;
	font-family: verdana;
	font-size: 12px;

	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
}

.logo{
	float: left;
    height: 260px;
    width: 400px;
}

.player{
	float: left;
	margin: 7px;
}

.song-title{
	width: 250px;
	padding: 2px 0px 5px 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-slider{
	width: 290px;
}

.current-time{
	float:left;
	font-size: 10px;
}

.duration{
	
	float: right;
	font-size: 10px;
}

.controllers{
	clear: both;
	display: table;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width: 80px;
	margin-left:5px;
}